body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#content {
    background-color: #f9f9f9;
    width: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    padding-top: 45px;
    padding-right: 25px;
    padding-bottom: 45px;
    padding-left: 25px;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

h1, .headline {
    font-family: 'Amaranth', sans-serif;
}

.author-info, .content-body {
    font-family: 'Lato', sans-serif;
}

.author-info {
    font-size: smaller;
}

.ad-stripper-text {
    line-height: 1.2em;
    vertical-align: middle;
}

.ad-stripper-icon {
    height: 1.2em;
    vertical-align: middle;
    margin-left: 10px;
}

.separator {
    text-align: center;
    margin: 10px 0;
}
